alabaster==0.7.7
anaconda-client==1.2.2
argcomplete==1.0.0
astroid==1.4.8
astropy==1.1.1
awscli==1.6.2
Babel==2.2.0
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.ssl-match-hostname==3.4.0.2
basemap==1.0.8
bcdoc==0.12.2
bcrypt==3.1.1
beautifulsoup==3.2.1
beautifulsoup4==4.5.1
bitarray==0.8.1
blaze==0.9.0
bokeh==0.12.4
boto==2.33.0
botocore==0.73.0
Bottleneck==1.0.0
cdecimal==2.3
certifi==2017.1.23
cffi==1.2.1
click==6.7
click-plugins==1.0.3
cligj==0.4.0
clyent==1.2.0
colorama==0.2.5
comtypes==1.1.2
conda==3.19.1
conda-build==1.19.0
conda-env==2.4.5
configobj==5.0.6
configparser==3.5.0
coverage==4.0.3
cryptography==0.9.1
cycler==0.9.0
Cython==0.23.4
cytoolz==0.7.5
dash==0.17.7
dash-core-components==0.5.1
dash-html-components==0.6.2
dash-renderer==0.7.3
datashape==0.5.0
decorator==4.0.11
descartes==1.1.0
Django==1.11
docutils==0.12
enum34==1.1.2
et-xmlfile==1.0.1
fastcache==1.0.2
Fiona==1.7.4
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Compress==1.4.0
Flask-Login==0.3.2
Flask-SeaSurf==0.2.2
Flask-WTF==0.12
funcsigs==0.4
functools32==3.2.3.post2
futures==3.0.5
fuzzywuzzy==0.15.0
GDAL==2.1.3
genson==0.1.0
geopandas==0.2.1
gevent==1.0.2
gevent-websocket==0.9.5
google==1.9.3
graphviz==0.5.2
greenlet==0.4.9
grin==1.2.1
h5py==2.5.0
html5lib==0.999999999
idna==2.0
inflection==0.3.1
ipaddress==1.0.14
ipykernel==4.2.2
ipython==4.0.3
ipython-genutils==0.1.0
ipywidgets==4.1.1
isort==4.2.5
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.9.5
jmespath==0.5.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
kitchen==1.2.4
lazy-object-proxy==1.2.2
llvmlite==0.8.0
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.5.2
menuinst==1.3.2
mistune==0.7.1
more-itertools==2.2
multipledispatch==0.4.8
munch==2.1.0
nbconvert==4.1.0
nbformat==4.3.0
ndg-httpsclient==0.4.2
networkx==1.11
nltk==3.1
nose==1.3.7
notebook==4.1.0
numba==0.23.1
numexpr==2.4.6
numpy==1.12.0
oauthlib==2.0.0
odo==0.4.0
openpyxl==2.3.2
ortools==5.1.4045
pandas==0.19.0
pandas-datareader==0.2.1
path.py==0.0.0
patsy==0.4.0
peewee==2.8.0
pep8==1.7.0
pickleshare==0.5
Pillow==3.1.0
plotly==2.0.11
ply==3.8
prettytable==0.7.2
protobuf==3.0.0
psutil==3.4.2
PuLP==1.6.5
py==1.4.31
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pydotplus==2.0.2
pyflakes==1.0.0
Pygments==2.1
pylint==1.6.4
pyOpenSSL==0.15.1
pyparsing==2.1.10
pyproj==1.9.5.1
PyQt4==4.11.4
pyreadline==2.1
PySide==1.2.4
pytest==2.8.5
python-dateutil==2.6.0
pytz==2015.7
pywin32==219
PyYAML==3.12
pyzmq==15.2.0
qtconsole==4.1.1
Quandl==3.0.1
requests==2.13.0
requests-file==1.4.1
requests-oauthlib==0.7.0
rope==0.9.4
rsa==3.1.2
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
seaborn==0.7.0
selenium==3.0.2
Shapely==1.5.17
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
sphinx==1.3.5
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SQLAlchemy==1.0.11
sseclient==0.0.8
statistics==1.0.3.5
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
textblob==0.11.1
toolz==0.7.4
tornado==4.4.2
traitlets==4.1.0
tweepy==3.5.0
twitter==1.17.1
unicodecsv==0.14.1
webencodings==0.5
Werkzeug==0.11.3
wrapt==1.10.8
WTForms==2.1
xlrd==0.9.4
XlsxWriter==0.8.4
xlwings==0.6.4
xlwt==1.0.0
yahoo-finance==1.2.1
