dash==0.42.0
dash-core-components==0.47.0
dash-html-components==0.16.0
dash-renderer==0.23.0
dash-table==3.6.0
decorator==4.4.0
Flask==1.0.2
Flask-Compress==1.4.0
gunicorn==19.8.1
lxml==4.3.3
numpy==1.14.3
pandas==0.24.2
pandas-datareader==0.8.1
plotly==3.9.0
pytz==2019.1
requests==2.21.0